<html>
    <head>
        {% if title %}
        <title>{{ title }} - Sentiment Based Recommendation System</title>
        {% else %}
        <title>Sentiment Based Recommendation System</title>
        {% endif %}
    </head>
    <body>
        <form action="" method="post">
        
            <div class="input text">{{ form.name.label }} {{ form.name }}</div>
            <div class="input submit"><input type="submit" value="Submit"></div>
       </form>
    </body>
</html>

<!-- <title>Reusable Form Demo</title> -->

